<!-- Validation failure messages -->
<% if @kind_of_food.errors.any? %>
  <% @kind_of_food.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Kind Of Food #<%= @kind_of_food.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_kind_of_food/<%= @kind_of_food.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tags_id -->
      <div class="form-group">
        <label for="tags_id" class="control-label">
          Tags
        </label>

        <input type="text" id="tags_id" name="tags_id" placeholder="Tags" class="form-control" value="<%= @kind_of_food.tags_id %>">
      </div>

      <!-- Label and input for restaurants_id -->
      <div class="form-group">
        <label for="restaurants_id" class="control-label">
          Restaurants
        </label>

        <input type="text" id="restaurants_id" name="restaurants_id" placeholder="Restaurants" class="form-control" value="<%= @kind_of_food.restaurants_id %>">
      </div>

      <button class="btn btn-warning">
        Update Kind Of Food
      </button>
      or
      <a href="/kind_of_foods/<%= @kind_of_food.id %>">Cancel</a>
    </form>
  </div>
</div>
